@import url("general.css");

#contPrincipal{
  padding: 20px !important;
  box-shadow: 5px 5px 50px gray !important;
}

hr{
  width: 80%;
}

ul{
  padding: 0;
}

li{
  list-style: none;
  font-family: Helvetica, Arial;
  font-size: 1.2em;
  margin: 10px 0px;
  text-align: center;
  padding: 5px;
}

li:hover{
  background-color: #35858B;
}

a{
  text-decoration: none;
  color: #35858B;
  display: block;
}

a:hover{
    color: white;
}

