div.estructural:not(div.pie){
	font-family: Helvetica;
}

div.estructural {
	border: 1px solid black;
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
}

div.cabecera img {
	float: left;
	margin-top: 0px;
	margin-right: 15px;
}

div.cabecera hgroup {
	margin-top: 45px;
}

div.menuPrincipal{
	padding: 0px;	
}

ul.menu li {
	display: inline;
	margin-left: 40px;
	margin-right: 40px;
}

ul.menu {
	text-align: center;
}

div#noticiaPrincipal {
	margin-left: 300px;
	margin-top: 30px;
}

div#noticiaPrincipal h1 {
	font-size: 22px;
}

div#noticiaPrincipal h2 {
	font-size: 18px;
}

div#noticiaPrincipal p {
	text-align: justify;
}

div#bloqueNoticias {
	width: 220px;
	float: left;
}

div#bloqueNoticias header h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: navy;
	color: white;
}

div#bloqueNoticias article h1 a {
	color: olive;
}

div#bloqueNoticias article h1 {
	margin-bottom: 1px;
}

div#bloqueNoticias article p {
	margin-top: 1px;
}

div#foto {
	font-size: 12px;
	padding: 10px;
	float: right;
	text-align: center;
	border: solid 1px black;
	margin-top: -10px;
}

div#foto img {
	width: 100px;
	margin: 0px;
	border: 0px none;
	padding: 0px;
}

div#foto figure {
	margin: 0px;
}

p.margen {
	margin-left: 15px;
}

div.pie{
	text-align:center;clear:both
}

div.pie{
	text-align:center;clear:both
}
.cabecera{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#c1{
  flex: 40%;
}
#c2{
  flex: 40%;
	margin-top: 30px;
}
#c3{
  flex: 5%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
#c3 img{
	width: 50px;
	margin: 0 auto;
}
#c3 p{
	margin-top: 0;
}