*{
  box-sizing: border-box;
  font-family: courier;
}
body{
  background-color: #fdfd96;
}

#formulario{
  background-color: white;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 300px;
  margin: auto;
  padding: 10px;
}

#formulario_reg{
  background-color:   #ffee58;
  border: 2px solid  #ffee58;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 70%;
  margin: auto;
  padding: 10px;
}

#registro_ok{
  text-align: center;
  background-color:   #ffee58;
  border: 2px solid  #ffee58;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 70%;
  margin: auto;
  padding: 10px;
}
a{
  color: black;
}

#cabecera{
  text-align: center;
  font-family: courier;
  font-size: 30px;
  margin-top: 50px;
}

input{
  width: 75%;
  color: black;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  font-family: courier;
  transition: all 1s ease;
}

input:hover{
    width: 75%;
  background-color: grey;
  color: white;
  opacity: 50%;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  font-family: courier;
}

#login{
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 59%;
  padding: 5px;
  background-color: salmon;
  opacity: 70%;
  font-family: courier;
  font-size: 30px;
  transition: all 2s linear;
}

#login:hover{
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 59%;
  padding: 5px;
  background-color: salmon;
  color: black;
  opacity: 100%;
  font-family: courier;
  font-size: 30px;
}
#botones > p{
  text-align: center;
  margin-top: 10px;
}

#cuerpo{
	text-align: center;
	font-family: courier;
}

p{
  width: 75%;
  margin: auto;
}

img{
  opacity: 5%;
	width: 50%;
	margin: 20px auto;
	border: solid 1px black;
  border-radius: 50px;
  transition: all 1s ease;
}

img:hover{
  opacity: 100%;
	width: 60%;
	margin: 20px auto;
  border-radius: 50px;
	border: solid 1px black;
}

span{
  font-family: lucida console;
  font-weight: bold;
  color: purple;
}

p#error{
  margin: 10px auto;
  font-family: courier;
	color: red;
	text-align: center;
	font-size: 0.9em;
}

p#campos_obligatorios{
  transition: all 2s linear;
}

p#campos_obligatorios:hover{
  color: red;
  font-size: 40px;
}