#cuerpo{
  border: 2px solid #ccc;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 300px;
  margin: auto;
  padding: 10px;
}

h2{
  text-align: center;
  font-family: courier;
  margin-top: 50px;
}
input{
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  font-family: courier;
}
button{
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 59%;
  padding: 5px;
  background-color: salmon;
  font-family: courier;
}