#formulario{
  border: 2px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 300px;
  margin: auto;
  padding: 10px;
}

#cabecera{
  text-align: center;
  font-family: courier;
  margin-top: 50px;
}

input{
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  font-family: courier;
}

.boton{
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 59%;
  padding: 5px;
  background-color: salmon;
  opacity: 70%;
  font-family: courier;
}

.boton:hover{
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 59%;
  padding: 5px;
  background-color: salmon;
  opacity: 100%;
  font-family: courier;
}

#cuerpo{
	text-align: center;
	font-family: courier;
}

p{
  width: 75%;
  margin: auto;
}

img{
  opacity: 0%;
	width: 70%;
	margin: 20px auto;
	border: solid 1px black;
}

img:hover{
  opacity: 100%;
	width: 70%;
	margin: 20px auto;
	border: solid 1px black;
}

span{
  font-family: lucida console;
  font-weight: bold;
  color: purple;
}

p#error{
  margin: 10px auto;
  font-family: courier;
	color: red;
	text-align: center;
	font-size: 0.9em;
  }